<footer class="footer-prev center">
    <div class="nav-footer">
            <a class="nav-footer__link">
                <i class="fa-brands fa-pinterest"></i>
            </a>
    </div>
    <p class="footer-prev__title">Copyright ©LudoCode 2022 - All right reserved</p>
</footer>
