<footer class="footer-prev">
    <div class="nav-item">
            <a class="nav-item__link">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="nav-item__link">
                <i class="fa-brands fa-twitter"></i>
            </a>
    </div>
    <p class="footer-prev__title">Copyright ©LudoCode 2022 - All right reserved</p>
</footer>
