<nav class="header-prev">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo center">Mes recettes</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a class="nav__link" href="/">Accueil</a></li>
            <li><a class="nav__link" href="/auth/google">Login</a></li>
            <li><a class="nav__link" href="/auth/logout">Logout</a></li>
            <li><a class="nav__link" href="#">Contact</a></li>
        </ul>
    </div>
</nav>
