<body>
    <section class="recipe-prv">
        <h2>Edit articles</h2>
        <% for(let item of recipe) {%>
            <div class="recipe-section">
                <a href="/update/<%= item._id %>" class="edit">
                    <h4 class="title">
                        <%= item.title %>
                    </h4>
                </a>
                <div class="row">
                    <a href="/update/remove/<%= item._id %>" class="btn red btn-info">Delete</a>
                </div>
            </div>
            <% } %>
    </section>
    <section>
        <h4>Post new article</h4>
        <!-- add enctype to upload img -->
        <form action="/edit" enctype="multipart/form-data" method="POST">
                <div class="input-field">
                    <input type="text" name="title">
                    <label for="title">Title</label>
                </div>

                <div class="row">
                    <div class="input-field">
                        <select id="status" name="status">
                            <option value="draft" selected>Draft</option>
                            <option value="public">Public</option>
                        </select>
                        <label for="status">Status</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field">
                        <h5>write your recipe:</h5>
                        <textarea name="article" ></textarea>
                    </div>
                </div>

                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" id="imageUpload" name="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Save" class="btn">
                    <a href="/edit" class="btn orange">Cancel</a>
                </div>
            </form>
    </section>
    <script src="/js/main.js"></script>
</body>
</html>