<body>
    <section class="recipe-prv">
        <h2>Edit articles</h2>
        <% for (let i=0; i<recipe.length; i++) {%>
            <div class="recipe-section">
                <a href="/update/<%= recipe[i]._id %>" class="edit">
                    <h4 class="title">
                        <%= recipe[i].title %>
                    </h4>
                </a>
            </div>
            <% } %>
    </section>
    <section>
        <h4>Post new article</h4>
        <form action="/edit" method="POST">
                <div class="input-field">
                    <input type="text" name="title">
                    <label for="title">Title</label>
                </div>

                <div class="row">
                    <div class="input-field">
                        <h5>write your recipe:</h5>
                        <textarea name="article" ></textarea>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Save" class="btn">
                    <a href="/edit" class="btn orange">Cancel</a>
                </div>
            </form>
    </section>
    <script src="/js/main.js"></script>
</body>
</html>