<body>
    <section class="hero-prv">
        <div class="hero-prv__subSection">
            <h2 class="hero-prv__heading">Mes créations</h2>
            <p class="hero-prv__text">
                Pâtissier du dimanche, je vous révèle les divagations de mes pensées sucrées.
            </p>
        </div>
        <img class="hero-prv__img" src="/images/macaron.png">
    </section>
    <section class="recipe-prv">
        <h2 class="recipe-heading">Dernières recettes</h2>
        <div class="recipe-section">
            <% for(let item of recipe) {%>
            <div class="recipe-subSection">
                <h4 class="recipe-subSection__title center">
                    <a href="/recipe/<%= item._id %>" class="recipe-subSection__link">
                        <img class="recipe-subSection__img img-fluid" src="<%= item.image[0]%>">
                        <p><%= item.title %></p>
                    </a>
                </h4>
            </div>
            <% } %>
        </div>
    </section>
    <script src="/js/main.js"></script>
</body>
</html>