<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="/css/SASSWORKSHOP/styles.css ">
    <title>Mes recettes</title>
</head>
<body>
    <header>
        <h1 class="header-title">Mes recettes !</h1>
        <img class="hero-prv__img">
        <nav>
            <a class="nav__link" href="/auth/google">login</a>
        </nav>
    </header>
    <section class="hero-prv">
        <div class="hero-prv__subSection">
            <h2>Mes créations</h2>
            <p>patissier du dimanche, je vous révèle les divagations de mes pensées sucrée.</p>
        </div>
        <img class="hero-prv__img">
    </section>

    <section class="recipe-prv">
        <% for (let i=0; i<recipe.length; i++) {%>
        <div class="recipe-prv__subSection">
            <img class="recipe-prv__img">
            <h2 class="recipe-prv__heading">
                <a href="/recipe/<%= recipe[i]._id %>" class="edit">
                    <h2 class="title"><%= recipe[i].title %></h2>
                </a>
            </h2>
        </div>
        <% } %>
    </section>
    <!-- edit page -->
    <!-- <form action="/" method="POST">
        <input type="text" placeholder="title" name="title">
        <textarea name="article" rows="4" cols="50">
        </textarea>
        <button type="submit">send</button>
    </form> -->

    <script src="/js/main.js"></script>
</body>
</html>