<body>
    <section class="recipe-prv">
        <% for (let i=0; i<recipe.length; i++) {%>
            <% if (recipe[i]._id==idArticle) { %>
                <h2 class="recipe-heading">
                    <%= recipe[i].title %>
                </h2>
                <img class="img-fluid" src="<%= recipe[i].image%>">
                <p><%- recipe[i].article %></p>
            <% } %>
        <% } %>
        <a href="/" class="cancel">Retour</a>
    </section>
    <script src="/js/main.js"></script>
</body>

</html>