<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="/css/SASSWORKSHOP/styles.css ">
    <title>Mes recettes</title>
</head>

<body>
    <section class="recipe-prv">
        <% for (let i=0; i<recipe.length; i++) {%>
            <% if (recipe[i]._id==idArticle) { %>
                <h2 class="recipe-heading">
                    <%= recipe[i].title %>
                </h2>
                <p>
                    <%= recipe[i].article %>
                </p>
            <% } %>
        <% } %>
        <a href="/" class="cancel">Retour</a>
    </section>
    <script src="/js/main.js"></script>
</body>

</html>