<body>
    <section class="recipe-prv">
        <% for(let item of recipe) {%>
            <% if (item._id==idArticle) { %>
                <h2 class="recipe-heading">
                    <%= item.title %>
                </h2>
                <% for (let img of item.image) {%>
                    <img class="recipe-img img-fluid" src="<%= img%>">
                <% } %>
                <p class="recipe-text"><%- item.article %></p>
            <% } %>
        <% } %>
        <a href="/" class="cancel">Retour</a>
    </section>
    <script src="/js/main.js"></script>
</body>

</html>