<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Mes recettes</title>
</head>

<body>
    <section>
        <h2>Admin</h2>
            <% for (let i=0; i<recipe.length; i++) {%>
                <% if (recipe[i]._id==idArticle) { %>
                    <form action="/update/<%= recipe[i]._id %>" method="POST">
                        <input type="text" value="<%= recipe[i].title %>" name="title">
                        <textarea rows="6" cols="50" name="article"><%= recipe[i].article %></textarea>
                        <button type="submit" class="confirm">Confirm</button>
                        <a href="/edit" class="cancel">Cancel</a>
                        <a href="/update/remove/<%= recipe[i]._id %>" class="delete">Delete</a>
                    </form>
                <% } %>
            <% } %>
    </section>
    <script src="/js/main.js"></script>
</body>

</html>