@import "libs/mixins.scss";

$container: 1400px;
$white-color: #fff;
$alice-color: #e1e5ee;
$black-color: #090505;
$violet-color: #8B4278;
$alert-color: #f02b00;
$transparent-color: transparent;

body {
    width: calc(100% - 4em);
    max-width: $container;
    margin-left: auto;
    margin-right: auto;
    background-color: $white-color;
    color: $black-color;
    // @include fontDefault;
    letter-spacing: 0.1em;
    line-height: 1.6;
}

section {
    padding: 1.5em;
}



.header-prev {
    background-color: $transparent-color;
    color: $violet-color;
    box-shadow: none;
}

.header-prev__title {
    font-size: 3em;
    @include mobile-only {
        letter-spacing: 0;
    }
}

.container {
    max-width: $container;
    width: 100%;
}

nav .brand-logo, .sidenav-trigger {
    color: $violet-color;
}

.nav__link {
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 1em;
    text-decoration: none;
    color: black;
    @include transitionEffect;

    &:hover {
        @include linkHover;
    }
}

.header-heading {
    width: 8em;
}

.hero-prv {
    display:flex;
    justify-content: space-evenly;
    margin: 4em 0em;
    @include mobile-only {
        flex-direction: column;
        margin: 0em;
    }
}

.hero-prv__img {
    width:60%;
    border-radius: 1em;
    @include mobile-only {
        width: 100%;
        margin-top: 4em;
    }
}

.hero-prv__heading {
    font-size: 4.5em;
}

.hero-prv__text {
    width:70%;
    font-size: 2.5em;
    @include mobile-only {
        width: 100%;
    }
}

.recipe-heading {
    font-size: 3em;
    color: $violet-color;
}

.recipe-prv {
    display: grid;
    justify-content: center;
    @include mobile-only {
            width: 100%;
        }
}

.recipe-section {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 20em);
    align-items:flex-end;
    border-bottom-style: solid;
    border-color: $violet-color;
    border-width: 0.15em;

    @include mobile-only {
        gap: 0em;
        margin: 2em 0em;
        grid-template-columns: unset;
        grid-template-rows:1fr;
    }
}

.recipe-pic{
    display: grid;
    grid-template-columns: repeat(8, 8em);
    row-gap: 2em;
    align-items: end;
    justify-content: center;
    margin-bottom: 4em;
}

.recipe-img {
    width: 15em;
    height: 14em;
    border-radius: 0.2em;
}

.recipe-imgTitle {
    width:2em;
    height: 2em;
    position: relative;
    top: 2.5em;
    left: 2em;
    color: $violet-color;
}

.recipe-subSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21em;
    padding: 1em;
    border-radius: 0.5em;
}

.recipe-subSection__img {
    width: 6.5em;
    height: 6em;
    border-radius: 0.2em;
    background-color: $violet-color;
}

.recipe-subSection__link {
    white-space: nowrap;
    color: black;
    @include transitionEffect;
    &:hover {
        @include linkHover;
    }

    p{
        width: 5em;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.coment-prv, .coment-date {
    color: $violet-color;
}

.coment-texte{
    margin-bottom: 2em;
}
.footer-prev{
    margin-top: 4em;
}

.nav-footer__link {
    color: $violet-color;
    margin-left: 0.5em;
    font-size: 2em;
}