// @import "libs/mixins.scss";

$container: 1600px;
$white-color: #fff;
$fwhite-color: #FFF9EC;
$black-color: #06090E;
$pink-color: #FF729F;
$alert-color: #f02b00;
$transparent-color: transparent;

body {
    width: calc(100% - 4em);
    max-width: $container;
    margin-left: auto;
    margin-right: auto;
    background-color: $white-color;
    color: $black-color;
    // @include fontDefault;
}

//
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 1.5em;
}

.recipe-prv {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.5em;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18em;
    padding: 1em;
    border-radius: 1em;
    background-color: $fwhite-color;
}

img {
    width: 100%;
    height: 14em;
    border-radius: 1em;
    background-color: $pink-color;
}